<table class="table table-stripped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Telefones</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let contato of contatos">
      <td>{{ contato.nome }}</td>
      <td>
        <app-telefone-lista [telefones]="contato.telefones"></app-telefone-lista>
      </td>
      <td>
        <a [routerLink]="['editar', contato.id]" class="btn btn-sm btn-info">Editar</a>  
        <button class="btn btn-sm btn-danger" (click)="excluir(contato)">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>