<div class="row">
  <div class="col-2">DDD</div>
  <div class="col-4">Número</div>
  <div class="col-3">Whats?</div>
</div>
<div class="row" *ngFor="let telefone of telefones">
    <div class="col-2">{{ telefone.ddd }}</div>
    <div class="col-7">{{ telefone.numero }}</div>
    <div class="col-3">
      <span *ngIf="telefone.whatsapp" >
        <svg 
          width="24" 
          height="24"
          viewBox="0 0 24 24">
            <path fill="none" d="M0 0h24v24H0z"/>
            <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
      </span>
    </div>
</div>