<div class="row">
    <div class="col-10 text-right"><button class="btn btn-primary" (click)="salvar()">Salvar</button></div>
  </div>

<div class="row">
  <div class="col-10">
    <form>
        <div class="form-group">
          <label for="contatoNome">Nome do contato</label>
          <input type="text" 
            class="form-control" 
            autocomplete="off" 
            [(ngModel)]="contato.nome"
            name="nome" 
            placeholder="Nome do contato"
          >
        </div>
        <app-telefone-form (telefonesEvent)="atualizarTelefones($event)"></app-telefone-form>
    </form>
  </div>
</div>